<div class="map-div">
    <app-map [startLocation]="startLocation" [endLocation]="endLocation"></app-map>
</div>

<!-- <app-search-locations id="search-component"></app-search-locations> -->

<div id="ride-info">
    <div id="time-div">
        <div style="display: flex; width: 10%; align-items: center;">
            <p id="time-estimate">14 min</p>
            <p id="distance">(5,5 km)</p>
        </div>
    
        <div style="width: 90%; display: flex; align-items: center; justify-content: flex-end;">
            <button mat-raised-button class="start-ride-btn" color="accent" disabled="true">Start ride</button>
        </div>
    </div>
    <div class="vehicle-container">
        <app-vehicle-ride class="column"></app-vehicle-ride>
        <app-vehicle-ride class="column"></app-vehicle-ride>
        <app-vehicle-ride class="column"></app-vehicle-ride>
    </div>
</div>

