<div>
    <div id="main-view">
        <h1>What's your email?</h1>
    
        <form class="sign-up-form">
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input class="form-input" matInput type="email" name="email" formControlName="name"/>
            </mat-form-field>
            <button class="form-btn" color="primary" type="submit" [routerLink]="['/']" mat-raised-button>Continue</button>
        </form>
        
    </div>
    <div class="bottom-link"><p>Already a member? <a [routerLink]="['/login']" >LOG IN</a></p></div>

</div>