<h1 mat-dialog-title>Leave a review</h1>

<mat-dialog-content [formGroup]="review">
    <h1>Driver review</h1>
    <!-- stars -->
    <div>
        <button mat-icon-button (click)="rate(i+1, true)" color="accent" *ngFor="let ratingId of ratingArrDriver;index as i" [id]="'star_'+i" >
            <mat-icon>
                {{showIcon(i, true)}}
            </mat-icon>
        </button>
    </div>
    

    <mat-form-field class="form-input">
        <mat-label>Comment...</mat-label>
        <input matInput type="text" name="driverComment" formControlName="driverComment">
    </mat-form-field>

    <!-- stars -->

    <h1>Vehicle review</h1>

    <div>
        <button mat-icon-button (click)="rate(i+1, false)" color="accent" *ngFor="let ratingId of ratingArrVehicle;index as i" [id]="'star_'+i" >
            <mat-icon>
                {{showIcon(i, false)}}
            </mat-icon>
        </button>
    </div>
    <mat-form-field class="form-input">
        <mat-label>Comment...</mat-label>
        <input matInput type="text" name="vehicleComment" formControlName="vehicleComment">
    </mat-form-field>
    
</mat-dialog-content>

<mat-action-list align="end">
    <button (click)="cancel()" class="form-btn" mat-raised-button id="cancel-btn" color="primary">Cancel</button>
    <button (click)="submit()" class="form-btn" mat-raised-button  id="submit-btn" color="accent">Submit</button>
</mat-action-list>
