<mat-toolbar id="driver" color="primary">
    <div id="logo" [routerLink]="['/main']">
        <h1 style="color: #f57804;"><b>Air</b></h1>
        <h1 style="color: #545454"><b>Ride</b></h1>
    </div>
    <div id="accinfo" [formGroup]="online" class="driver-navbar-container">
        
        <p *ngIf="checked">Online</p>
        <p *ngIf="!checked">Offline</p>
        <mat-slide-toggle 
            id="onlineToggle"
            class="toggle"
            formControlName="isOnline" 
            labelPosition="before"
            (change)="changed($event)"
            [(ngModel)]="checked">
        </mat-slide-toggle>

        <div class="dropdown">
            <img id="photo2" src="./../../../../assets/images/pngwing.com.png">
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/main']">Home</a>
                <a href="#">Ride History</a>
                <a [routerLink]="['/profile']">Account</a>
                <a [routerLink]="['/documents']">Documents</a>
                <a (click)="logout()">Log out</a>
            </div>
        </div>
    </div>

</mat-toolbar>
