<div class="personal-info-wrapper">
    <h1>Personal information</h1>
    <div class="container">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
                </div>
            </div>
        </div>
    </div>
    <!-- img -->
    <!-- full name -->
    <h1 id="full-name"> {{fullName}}</h1>
    <form [formGroup]="profileForm">
        <!-- <mat-form-field appearance="outline">
            <mat-label>full name</mat-label>
            <input matInput type="text" name="name" formControlName="fullname">
        </mat-form-field> -->
        <mat-form-field appearance="outline">
            <mat-label>e-mail</mat-label>
            <input matInput type="email" name="email" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            
            <mat-label>phone</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>address</mat-label>
            <input matInput type="text" name="address" formControlName="address">
        </mat-form-field>
        <button class="form-btn" color="primary" [routerLink]="['/changePersonalInfo']" mat-raised-button>Edit data</button>
    </form>

    <button id="log-out-btn" (click)="logout()" mat-raised-button>Log out</button>


</div>
