<div class="search-container" [formGroup]="search">
    <input class="input-data" id="start-point" type="text" formControlName="startLoc"
    [(ngModel)]="startLocation" placeholder="Starting point">

    <input class="input-data" id="end-point" type="text" formControlName="endLoc"
    [(ngModel)]="endLocation" placeholder="Ending point">

    <select class="input-data" id="time-select" name="time" type="text" (click)="createTime()" >
        <option value="">Now</option>
    </select>

    <input class="input-data" id="time-picker" type="datetime-local" (change)="pickTime()">

    <!-- <div class="check-boxes" id="check-boxes">
            <input class="input-data-ch" id="babies" name="babies" type="checkbox" (change)="changedBaby()">
            <label id="baby-label" for="babies">Babies</label>
        
            <input class="input-data-ch" id="pets" name="pets" type="checkbox" (change)="changedPets()">
            <label id="pet-label" for="pets">Pets</label>

    </div> -->
    <button (click)="sendSearchValues()" id="next-btn" class="orange-btn" routerLink="/rideInfo" >
        <img id="forward-arrow" src="../../../../assets/images/pngwing.com.png">
    </button>
</div>
