<div>
    <div id="main-view">
        <h1>Forgot password - Enter your email</h1>
    
        <form class="reset-password-code-form" [formGroup]="resetPassword" (ngSubmit)="resetPasswordWithCode()">

            <mat-form-field appearance="outline">
                <mat-label>Reset Code</mat-label>
                <input class="form-input" matInput type="text" name="code" formControlName="code"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input class="form-input" matInput type="password" name="password" formControlName="password"/>
            </mat-form-field>
            <button class="form-btn" color="primary" type="submit" mat-raised-button>Continue</button>
        </form>
        
    </div>

</div>
