<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened><app-side-navbar></app-side-navbar></mat-sidenav>
  <mat-sidenav-content class="main">

    <div class="map-div">
      <app-map [startLocation]="ride.locations[0].departure" [endLocation]="ride.locations[0].destination"></app-map>
    </div>
    <div *ngIf="role==='ROLE_USER'" id="action-div"><button (click)="orderAgain()" mat-raised-button color="accent" class="form-btn">Order again</button></div>
    <div id="ride-info">
      <div id="date-time">
        <p>{{ ride.startTime |date: 'fullDate' }}</p>
        <p>{{ ride.startTime |date: 'shortTime' }}</p>
      </div>
      <div id="locations">
        <div>
          <div class="marker-div">
            <img class="marker" src="../../../../assets/images/departure.png">
          </div>
          <p>{{ ride.locations[0].departure.address }}</p>
        </div>
        <div>
          <div class="marker-div">
            <img class="marker" src="../../../../assets/images/destination.png">
          </div>
          <p>{{ ride.locations[0].destination.address }}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div id="price">
      <div id="dollar-img">
        <img src="../../../../assets/images/dollar.png">
      </div>
      <p>{{ ride.totalCost }} RSD</p>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="role==='ROLE_USER'" id="driver-info-div">
      <div class="col" id="driver-info">
        <div class="img-wrapper">
          <img src="{{driverData.profilePicture}}">
        </div>
        <div>
          <p class="title">Driver</p>
          <p>{{driverData.name}} {{driverData.surname}}</p>
        </div>
      
      </div>
      <div class="col" id="vehicle-type">
        <p class="title">Vehicle category</p>
        <p>{{ride.vehicleType}}</p>
      </div>

    </div>

    <div *ngIf="role==='ROLE_DRIVER'" id="passenger-info-div">
      <p class="title">Passengers</p>
      <div class="passenger-wrapper">
        <div class="col passenger-wrapper" *ngFor="let passenger of passengers">
          <div class="img-wrapper">
            <img src="{{passenger.profilePicture}}">
          </div>
          <div>
            <p class="title">{{passenger.name}} {{passenger.surname}}</p>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div id="review-div">
      <div *ngIf="hasReview" class="review-card has-review">
        <div *ngIf="driverReview" id="driver-review">
          <div class="top-div">
            <p class="title">Driver review</p>
            <div class="rating">
              <button mat-icon-button color="accent" *ngFor="let ratingId of ratingArrDriver;index as i" [id]="'star_'+i" >
                <mat-icon>
                  {{showIcon(i, true)}}
                </mat-icon>
              </button>
              <p class="title">{{getText(driverReview.rating)}}</p>
            </div>
          </div>
          <p class="review">" {{driverReview.comment}} "</p>
        </div>

        <div *ngIf="vehicleReview" id="vehicle-review">
          <div class="top-div">
            <p class="title">Vehicle review</p>
            <div class="rating">
              <button mat-icon-button color="accent" *ngFor="let ratingId of ratingArrVehicle;index as i" [id]="'star_'+i" >
                <mat-icon>
                  {{showIcon(i, false)}}
                </mat-icon>
              </button>
              <p class="title">{{getText(vehicleReview.rating)}}</p>
            </div>
          </div>
          <p class="review"> " {{vehicleReview.comment}} " </p>
        </div>
        
        
      </div>
      <div (click)="addReview()" *ngIf="!hasReview && canReview && role === 'ROLE_USER'" class="review-card add-review"> 
        <p>+ Add review</p>
      </div>

    </div>
  
  </mat-sidenav-content>
</mat-sidenav-container>