<div>
    <div id="main-view">
        <form class="change-password-form">
            <h1>Enter your new password</h1>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input class="form1-input" matInput type="password" name="password1" formControlName="name"/>
            </mat-form-field>

            <h1>Confirm password</h1>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input class="form2-input" matInput type="password" name="password2" formControlName="name"/>
            </mat-form-field>
            <button class="form-btn" color="primary" type="submit" mat-raised-button>Continue</button>
        </form>
        
    </div>

</div>