<div id="container">
    <div id="car-img-div">
        <img id="car-img" src="../../../../assets/images/Black.webp">
    </div>
    <div id="model-div">
        <p id="type">Standard</p>
        <p id="model">Skoda Fabia</p>
    </div>
    <div id="price-div">
        <div style="width: 20%; display: flex; align-items: center;"><img id="dollar-icon" src="../../../../assets/images/dollar.png"></div>
        <div style="display: flex; align-items: center; margin-left: 5px;">
            <p style="font-weight: bolder;">480 RSD</p>
        </div>
        
    </div>
</div>
