<div id="container">
    <div id="no-vehicle" *ngIf="hasVehicle===false">

        <button mat-raised-button id="add-vehicle" color="accent" (click)="navigateToForm()">Add vehicle</button>

    </div>
    <div id="yes-vehicle" *ngIf="hasVehicle === true" (click)="navigateToForm()">
        <div class="type-model">
            <div><p id="model">{{vehicle.model}}</p></div>
            <div><p id="type">{{vehicle.vehicleType}}</p></div>
        </div>
        <p id="registration">{{vehicle.licenseNumber}}</p>
        <p id="capacity">capacity: {{vehicle.passengerSeats}}</p>
        <div id="boolean-data">
            <div>
                <mat-checkbox [checked]="vehicle.babyTransport" [labelPosition]="'before'" [disabled]="true">transport babies</mat-checkbox>
            </div>
            <div>
                <mat-checkbox [checked]="vehicle.petTransport" [labelPosition]="'before'" [disabled]="true">transport pets</mat-checkbox>
            </div>
        </div>
        
    </div>
</div>
