<h1 mat-dialog-title>Please enter a reason</h1>

<mat-dialog-content [formGroup]="decline">

    <mat-form-field appearance="outline">
        <textarea id="panic-reason" matInput formControlName="reason"></textarea>
    </mat-form-field>

</mat-dialog-content>

<mat-action-list align="end">
    <button id="panic-cancel" *ngIf="panic" (click)="cancel()" mat-raised-button color="primary" class="form-btn">Cancel</button>
    <button id="panic-submit" (click)="submit()" color="accent" class="form-btn" mat-raised-button>Submit</button>
</mat-action-list>
