
.map-div{
    height: 81vh;
}

.data-div {
    /* position: absolute;
    z-index: 100000;
    right: 20px;
    top: 20px; */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.form-btn{
    width: auto;
    font-weight: bold;
    font-size: medium;
    padding: 25px;
    color: white !important;
}

.panic-btn{
    font-size: large;
    font-weight: 900;
    /* padding: 20px; */
}

.panic-div {
    position: absolute;
    font-size: xx-large;
    z-index: 100000;
    right: 20px;
    bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /* margin-right: 20px; */
}