<div class="master-div">
    <div class="data-div" id="driver-in-ride" *ngIf="role == 'ROLE_DRIVER'">
        <button class="start-btn" id="startBtn" color="accent" (click)="startRide()" mat-raised-button>Start Ride</button>
        <button class="finish-btn" id="finishBtn" color="accent" (click)="finishRide()" mat-raised-button>Finish Ride</button>
    </div>
    <div class="map-div">
        <app-map [startLocation]="startLocation" [endLocation]="endLocation"></app-map>
    </div>
    <div class="panic-div">
        <button color="primary" class="panic-btn" id="panic-btn" (click)="panic()" mat-raised-button>Panic</button>
    </div>
</div>