
.map-div{
    height: 81vh;
}

.data-div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#estimate-div{
    display: flex;
    flex-direction: row;
    /* width: 10%;  */
    align-items: center;
    font-size: large;
}


#timer{
    font-size: larger;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;

}


.form-btn{
    width: auto;
    font-weight: bold;
    font-size: medium;
    padding: 25px;
    color: white !important;
}

.panic-btn{
    font-size: large;
    font-weight: 900;
    /* padding: 20px; */
}

.panic-div {
    position: absolute;
    font-size: xx-large;
    z-index: 100000;
    right: 20px;
    bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /* margin-right: 20px; */
}