<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened><app-side-navbar></app-side-navbar></mat-sidenav>

    <mat-sidenav-content >
        <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.favoriteName}}</td>
            </ng-container>

            <ng-container matColumnDef="departure">
                <th mat-header-cell *matHeaderCellDef>Departure</th>
                <td mat-cell *matCellDef="let element">{{element.locations[0].departure.address}}</td>
            </ng-container>

            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef>Destination</th>
                <td mat-cell *matCellDef="let element">{{element.locations[0].destination.address}}</td>
            </ng-container>
            <ng-container matColumnDef="friends">
                <th mat-header-cell *matHeaderCellDef>Friends</th>
                <td mat-cell *matCellDef="let element">{{element.passengers.length}}</td>
            </ng-container>
            <ng-container matColumnDef="vehicleType">
                <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
                <td mat-cell *matCellDef="let element">{{element.vehicleType}}</td>
            </ng-container>
            <ng-container matColumnDef="babyTransport">
                <th mat-header-cell *matHeaderCellDef>Babies</th>
                <td mat-cell *matCellDef="let element">{{element.babyTransport}}</td>
            </ng-container>
            <ng-container matColumnDef="petTransport">
                <th mat-header-cell *matHeaderCellDef>Pets</th>
                <td mat-cell *matCellDef="let element">{{element.petTransport}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns : displayedColumns"></tr>

        </table>
    </mat-sidenav-content>
</mat-sidenav-container>